{% load static%} {% include 'navigation.html' %}{% block body %}

<center>
  <form class="ui container login" name="abc" method="POST">
    <center><h1>Forgot Password?</h1></center>
    <br />
    {% csrf_token %}
    <label for="name"><b>Email Id :</b></label>
    <input type="email" name="email" id="email" placeholder="Enter Email Id" />
    <br />

    <center>
      <button type="submit" class="btn">Submit</button>
    </center>
  </form>
</center>

{% include 'footer.html'%} {% if error == "no" %}
<script>
  alert("OTP sent successfully!");
  window.location=('{% url 'student_login' %}')
</script>
{% endif %} {% if error == "yes" %}
<script>
  alert("Invalid email,Try again!");
</script>
{% endif %} {% endblock %}
