<html>
  <head>
    <title>Canteen Order Management</title>

    <meta charset="utf-8" />
    {% load static %}

    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"
    ></script>
    <script type="text/javascript">
      (function () {
        emailjs.init("qep0v5-YXHUKYI2qQ");
      })();
    </script>

    <link rel="stylesheet" href="{% static 'style.css'%}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
      integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>

  <body>
    <div class="contain">
      <div class="col1">
        <div class="logo">
          
          <span>Canteen Order Management</span>
        </div>
      </div>

      <div class="navbar">
        <ul>
          <li><a href="{% url 'index' %}">Home</a></li>          

          <li><a href="{% url 'canteen_login' %}">Canteen Login</a></li>

          <li><a href="{% url 'student_login' %}">Student Login</a></li>

          <li><a href="{% url 'admin_login' %}">Admin Login</a></li>
        </ul>
      </div>
      <div style="width: 200px"></div>
    </div>
  </body>
</html>
